APPDATA_DIR=/srv/homelab
PUID=1000
PGID=1000
TZ=Europe/Paris
LOG_LEVEL=info

DOMAIN_NAME=example.com
ACME_EMAIL=admin@example.com
CF_DNS_API_TOKEN=your-cloudflare-api-token
POSTGRES_PASSWORD=your-postgres-password
